html {
  background-color: #3b4147;
}

#game {
  margin: auto;
}

/* game board table */
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #a1a197;
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
  box-sizing: border-box;
  border: solid 4px black;
  border-radius: 100%;
  margin: 5px;
  width: 80%;
  height: 80%;
}

/* created ids for red and blue pieces */
#red {
  background-color: #e15151;
}
#blue {
  background-color: #515de1;
}

/* column-top is table row of clickable areas for each column */
#column-top td {
  border: dashed 1px #f7f6f2;
}
#column-top td:hover {
  background-color: gold;
}
